DATABASE_URL=postgresql://postgres:DUXr7zMlETckAjlC@db.pqwklmhggvbmxhqhkkea.supabase.co:5432/postgres
SECRET_KEY=sb_publishable_IhWF6DDwrIwQAuxU60xBzg_6hzWLIFT
ACCESS_TOKEN_EXPIRE_MINUTES=60
GEMINI_API_KEY= AIzaSyA4wrOXKnjDxzloeXFejk7s52PKMYrl0Cs
FRONTEND_URL=http://localhost:5173
