DATABASE_URL=postgresql+psycopg2://DUXr7zMlETckAjlC@HOST:5432/postgres
SECRET_KEY=C5qT9V9CPKs1B0MBBVfEBln4g0xUgXWtjTJ_AHCTDbE
ACCESS_TOKEN_EXPIRE_MINUTES=60
GEMINI_API_KEY=AIzaSyA4wrOXKnjDxzloeXFejk7s52PKMYrl0Cs
FRONTEND_URL=http://localhost:5173
